PORT=3000

DB_HOST=localhost
DB_PORT=3306
DB_NAME=erp_aero
DB_USER=erp_user
DB_PASSWORD=erp_pass

JWT_SECRET=j8Kp2mXqL5nR9vYwZ3cA7tE1uF6hD0sB
JWT_REFRESH_SECRET=Q4gN8oW2iM7kT5yV1xC9bH3jP6aU0rS
JWT_ACCESS_EXPIRES=10m
JWT_REFRESH_EXPIRES=30d

UPLOAD_DIR=uploads
